<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LAYOUT!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            .container{
                width: 85%;
                height: 300px;
                border: 1px solid black;
               
            }
        </style>
    </head>
    <body>
        <div class="container">
        {% block container %}
            Contenido por defecto
        {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
